{{!-- Static info (header/footer etc) --}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Wellness Watcher</title>
  </head>
  <body>
    <header id="top-header">
      <div id="title-date">
        <h1>Wellness Watcher</h1>
        {{#if loggedIn}}
        <h4>Logged in as {{user}}</h4>
          <h4 id="date">Date</h4>
        {{/if}}
      
        {{!-- <div id="navbar">
          <a href="">Goals</a>
          <a href="">Profile</a>
          <a href="">Calculator</a>
        </div> --}}
      </div>
    </header>
    {{{body}}}
    <footer>
        <br><button id="logout">Logout</button>
        <h2></h2>
    </footer>
    <script src="/js/logout.js"></script>
    </body>
</html>