<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js" integrity="sha512-v3ygConQmvH0QehvQa6gSvTE2VdBZ6wkLOlmK7Mcy2mZ0ZF9saNbbk19QeaoTHdWIEiTlWmrwAL4hS8ElnGFbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Goals</title>
</head>
<body>
    <header id="second-page">
        <div id ="title-date">
            <h1>Nutrition Tracker</h1>
            <h4>Date</h4>
        </div>
    </header>
    <main>
        <header id="Macro">
            <h2 class="section-graph"> Macro Chart</h2>
            <div id="Macro-Breakdown">
                <h4>Macro Breakdown</h4>
                <div>
                    <canvas id="myChart"></canvas>
                  </div>
                  
            </div>
            <section>
                <div class="Weight-tracker">
                    <h3>Weight Tracker</h3>
                    
                    <body>
                </div>
            </section>
            <section>
                <div class="Goals">
                    <h3>GOALS</h3>
                </div>
            </section>
        </header>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  
        <!-- <script>
          const ctx = document.getElementById('myChart');
        
          new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
              datasets: [{
                label: 'Macro Breakdown',
                data: [4, 11, 3, 5, 2, 6, 5],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
          </script> -->
          <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script type="module" src="./acquistions.js"></script> -->
    </body>

    </html>
</main>