<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Nutrition Tracker</title>
  </head>
  <body>
    <header id="top-header">
      <div id="title-date">
        <h1>Nutrition Tracker</h1>
        <h4>Date</h4>
        <img src="../assets/PXL_20230309_001159058.MP.jpg" alt="joshFace" height="100px"/>
      </div>
    </header>
    <main>
      <header id="tracker-label">
        <h2 class="section-label" >Tracker Bar</h2>
      </header>
      <div id="calorie-tracker-div">
          <h4>Calorie Budget</h4>
        <div id="calorie-tracker-bar">
        </div>
          <h4>Calories Consumed</h4>
      </div>
      <section id="tracking-area">
        <div class="outer-columns">
          <header class="meal-header">
              <h3>Water</h3>
          </header>
        <div class="water-div-container">
          <div class="add-food-container">
              <button class="add-food-button">Add Water</button>
          </div>
        </div>
        </div>
      
      <section class="meal-area">
        <div class="meal-div-container">
        <div class="add-food-container">
          <header class="meal-header">
            <h3>Breakfast</h3>
          </header>
          
          <button class="add-food-button">Add Food</button>
        </div>
      </div>
      <div class="meal-div-container">
        <div class="add-food-container">
          <header class="meal-header">
            <h3>Lunch</h3>
          </header>
          
          <button class="add-food-button">Add Food</button>
        </div>
      </div>
      <div class="meal-div-container">
        <div class="add-food-container">
          <header class="meal-header">
            <h3>Dinner</h3>
          </header>
          
          <button class="add-food-button">Add Food</button>
        </div>
      </div>
      <div class="meal-div-container">
        <div class="add-food-container">
          <header class="meal-header">
            <h3>Snacks</h3>
          </header>
          
          <button class="add-food-button">Add Food</button>
        </div>
      </div>
      </section>
      <div class="outer-columns" id="exercise-div">
        <header class="meal-header">
              <h3>Exercise</h3>
        </header>
        <div class="water-div-container">
          <div class="add-food-container">
            
            <div class = "button-container">
            <button class="add-food-button">Add Exercise</button>
            </div>
          </div>
        </div>
        </div>
      </section>
    </main>
  </body>
</html>
