<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css">
    <title>Nutrition Tracker</title>
  </head>
  <body>
    <header id="top-header">
      <div id="title-date">
        <h1>Nutrition Tracker</h1>
        <h4>Date</h4>
      </div>
      <div id="profileIcon">
        <img src="../assets/PXL_20230309_001159058.MP.jpg" alt="joshFace" height="100px"/>
      </div>
    </header>
    <main>
      <header id="tracker-label">
        <h2 class="section-label" >Tracker Bar</h2>
      </header>
      <div id="calorie-tracker-div">
        <div id="calorie-tracker-bar">
        </div>
      </div>
    </main>

  </body>
</html>
