<main>
  {{#if logged_in}}
<div>
    {{#each stats as | stat | }}
    <p>Calories Per Day: {{stat.caloriesPerDay}}</p>
    <p>Active Time: {{stat.minutesExercised}}</p>
    <p>Glasses of Water: {{stat.ouncesOfWater}}</p>
    {{/each}}
</div>
{{/if}}
      <header id="tracker-label">
        <h2 class="section-label" >Tracker Bar</h2>
      </header>
      <div id="calorie-tracker-div">
          <h4>Calories Remaining: <span id="cal-remain"></span></h4>
          <div id="tracker-bar-wrap">
            <div id="calorie-tracker-bar"></div>
          </div>
          <h4>Calories Consumed: <span id="calorie-display"></span> calories</h4>
          <p id="cal-percentage"></p>
      </div>
      <section id="tracking-area">
        <div class="outer-columns">
          <header class="meal-header">
            <h3>Water</h3>
            <h4>Ounces Consumed: <span id="total-water"></span> ounces</h4>
          </header>
          <div class="water-div-container">
            <div class="add-food-container">
              <button class="add-food-button" id="add-water">Add Water</button>
            </div>
          </div>
          <header class="meal-header">
              <h3>Weight</h3>
          </header>
          <div class="water-div-container">
            <div class="add-food-container">
              <button class="add-food-button" id="add-weight">Weight</button>
            </div>
          </div>
        </div>
      
      <section class="meal-area">
        <div class="meal-div-container">
        <div class="add-food-container">
          <header class="meal-header">
            <h3>Breakfast</h3>
          </header>
          
          <button class="add-food-button" id="add-breakfast">Add Food</button>
        </div>
      </div>

      <div class="meal-div-container">
        <div class="add-food-container">
          <header class="meal-header">
            <h3>Lunch</h3>
          </header>
          
          <button class="add-food-button" id="add-lunch">Add Food</button>
        </div>
      </div>
      <div class="meal-div-container">
        <div class="add-food-container">
          <header class="meal-header">
            <h3>Dinner</h3>
          </header>
          
          <button class="add-food-button" id="add-dinner">Add Food</button>
        </div>
      </div>
      <div class="meal-div-container">
        <div class="add-food-container">
          <header class="meal-header">
            <h3>Snacks</h3>
          </header>
          
          <button class="add-food-button" id="add-snack">Add Food</button>
        </div>
      </div>
      </section>
      <div class="outer-columns" id="exercise-div">
        <header class="meal-header">
              <h3>Calculate Calorie Budget</h3>
              <h4><span id="calorie-budget"></span> calories</h4>
        </header>
        <div class="water-div-container">
          <div class="add-food-container">
            
            <div class = "button-container">
              <button class="add-food-button" id="calculate-calories">Calculate</button>
            </div>
          </div>
        </div>
        <header class="meal-header">
          <h3>Exercise</h3>
            <div>
              <h4>Calories Burned: <span id="total-exercise"></span> calories</h4>
            </div>
        </header>
        <div class="water-div-container">
          <div class="add-food-container">
            
            <div class = "button-container">
              <button class="add-food-button" id="add-exercise-button">Add Exercise</button>
            </div>
          </div>
        </div>
        </div>
      </section>
      <section class="goals-area">
        <div id="weight-over-time-display">
          <div id="weight-display-filler">
            <h1>Weight Over Time</h1>
          </div>

        </div>
      </section>
    </main>
    
    <div id="breakfast-modal" class="modal">
      <div class="modal-content">
        <span id="bclose">&times;</span>
        <h2>What did you have for breakfast?</h2>
        <label for="breakfast-calories">Input Total Calories Consumed:</label>
        <input type="text" id="breakfast-calories" name="breakfast-calories">
        <button id="submit-calorie-button">Submit Calories</button>
      </div>
    </div>

    <div id="lunch-modal" class="modal">
      <div class="modal-content">
        <span id="lclose">&times;</span>
        <h2>What did you have for lunch?</h2>
        <label for="lunch-calories">Input Total Calories Consumed:</label>
        <input type="text" id="lunch-calories" name="lunch-calories">
        <button id="submit-calorie-button-lunch">Submit Calories</button>
      </div>
    </div>

    <div id="dinner-modal" class="modal">
      <div class="modal-content">
        <span id="dclose">&times;</span>
        <h2>What did you have for Dinner?</h2>
        <label for="dinner-calories">Input Total Calories Consumed:</label>
        <input type="text" id="dinner-calories" name="dinner-calories">
        <button id="submit-calorie-button-dinner">Submit Calories</button>
      </div>
    </div>

    <div id="snack-modal" class="modal">
      <div class="modal-content">
        <span id="sclose">&times;</span>
        <h2>What did you have for a Snack?</h2>
        <label for="snack-calories">Input Total Calories Consumed:</label>
        <input type="text" id="snack-calories" name="snack-calories">
        <button id="submit-calorie-button-snack">Submit Calories</button>
      </div>
    </div>

    <div id="water-modal" class="modal">
      <div class="modal-content">
        <span id="wclose">&times;</span>
        <h2>How much water did you drink?</h2>
        <label for="water-ounces">Ounces of Water:</label>
        <input type="text" id="water-ounces" name="water-ounces">
        <button id="submit-water">Submit Water</button>
      </div>
    </div>

    <div id="exercise-modal" class="modal">
      <div class="modal-content">
        <span id="eclose">&times;</span>
        <h2>did you work out?</h2>
        <label for="exercise-calories">Input Total Calories burned:</label>
        <input type="text" id="exercise-calories" name="exercise-calories">
        <button id="submit-calorie-button-exercise">Submit Calories</button>
      </div>
    </div>

    <div id="budget-modal" class="modal">
      <div class="modal-content">
        <span id="budget-close">&times;</span>
        <h2>Basal Metabolic Rate Calculator</h2>
        <label for="height-inches">What's your height in inches?</label> <br>
        <input type="text" id="height-inches" name="height-inches"> <br>
        <label for="weight-pounds">What's your weight in pounds?</label> <br>
        <input type="text" id="weight-pounds" name="weight-pounds"> <br>
        <label for="age-years">What's your age in years?</label> <br>
        <input type="text" id="age-years" name="age-years"> <br>
        <br>
        <button id="calc-cal-budget">Calculate</button>
      </div>
    </div>

    <div id="save-button-div">
      <button id="save-button">Save Daily Totals</button>
    </div>


    