<div>
    {{#each stats as | stat | }}
    <p>Calories Per Day: {{stat.caloriesPerDay}}</p>
    <p>Active Time: {{stat.minutesExercised}}</p>
    <p>Glasses of Water: {{stat.ouncesOfWater}}</p>
    {{/each}}
</div>
    