* {
    box-sizing: border-box;
}

:root {
    --sapphire: #4059AD;
    --khaki: #B2AA8E;
    --mindaro: #DBFE87;
    --nonphotoblue: #92D5E6;
    --lightseagreen: #03B5AA;
    --offwhite: whitesmoke;
    --oxfordblue: #0C1B33;
    --onyx: #2E3532;
    --azure: #EBFFFD;
    --width: ;


}

body {
    background-color: var(--azure);
    font-family: 'Roboto Mono', monospace, sans-serif;
}
/* Recent Stats data - located in profile.handlebars*/
.wellness {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--nonphotoblue);
    box-shadow: 0px 3px 8px var(--onyx);
    width: 100%;
}

/* #profileIcon {
    padding: 20px;
    margin-right: 30px;
} */

#title-date {
    margin: auto;
    text-align: center;
    width: 100%;

}

#navbar {
    /* list-style-type: none;
     margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around; */
    width: 100%;
}

#navbar a{
   float: left;
   padding: 12px;
   color: var(--azure);
   text-decoration: none;
   text-align: center;
   width: 33.33%;
   border: 1px solid black;
   background-color: var(--khaki);
}

#navbar a:hover {
    background-color: var(--oxfordblue);
}

#calorie-tracker-div {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#tracker-bar-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    border: 3px solid black;
    border-radius: 30px;
    background-color: var(--lightseagreen);
}

#calorie-tracker-bar{
    background-color: var(--mindaro);
    width: var(--width);
    height: 100px;
    /* margin-top: 200px; */
    text-align: center;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px 4px var(--onyx);
}

.section-label {
    text-align: center;
    margin: auto;
}

#tracker-label {
    padding: 10px;
    margin: 10px;
}

.meal-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.meal-div-container {
    background-color: var(--sapphire);
    width: 100%;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: 1px 5px 4px 1px var(--onyx);
    color: var(--offwhite);

}

.add-food-button {
    padding: 10px;
    margin: 10px;
}

.meal-header {
    text-align: center;
}

#tracking-area {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.water-div-container {
    height: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    /* flex-direction: column-reverse; */
}

.outer-columns{
    margin-left: 10px;
    margin-right: 10px;
    width:30%;
    background-color: var(--lightseagreen);
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
    margin-top: 20px;
    box-shadow: -5px 5px 7px 1px var(--onyx);
}

#exercise-div {
    margin-right: 0%;
    box-shadow: 5px 5px 7px 1px var(--onyx);
}

.add-food-container {
   /* border: 1px solid black; */
   justify-content: flex-end;
}

button {
    border-radius: 25px;
    border: 2px solid var(--offwhite);
    background-color: transparent;
    color: var(--offwhite);
    box-shadow: 1px 1px 5px var(--onyx);
}

button:hover {
    background-color: var(--offwhite);
    color: var(--oxfordblue);
    border: 2px solid var(--onyx);
    padding: 15px;
}

h1, h2, h3, h4, h5, h6, button {
    text-shadow: 1px 1px 1px var(--onyx);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--sapphire);
}

.modal-content {
    background-color: var(--lightseagreen);
    color: var(--oxfordblue);
    margin: 20% auto;
    padding: 20px;
    border: 3px solid var(--azure);
    width: 80%;
}

.goals-area {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    border: 3px solid var(--onyx);
    border-radius: 20px;
}

#weight-over-time-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}

#weight-display-filler {
    width: 100%;
    margin: 10px;
    text-align: center;
    align-content: center;
}

#bclose, 
#lclose, 
#dclose, 
#sclose,
#wclose,
#eclose,
#weightclose,
#budget-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#bclose:hover, #bclose:focus, 
#lclose:hover, #lclose:focus, 
#dclose:hover, #dclose:focus,
#sclose:hover, #sclose:focus,
#wclose:hover, #wclose:focus,
#eclose:hover, #eclose:focus,
#weightclose:hover, #weightclose:focus,
#budget-close:hover, #budget-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#cal-percentage {
    display: none;
}

#save-button-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

#save-button{
    padding: 30px;
    margin: 10px;
    background-color: var(--khaki);
    font-size: larger;
}

#stats{
    margin: auto;
    width:95%;
    background-color: var(--lightseagreen);
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    justify-content: space-evenly;
    margin-top: 20px;
    box-shadow: -5px 5px 7px 1px var(--onyx);
}